*{
    padding: 0;
    margin: 0;
    font-family: 'Space Grotesk', sans-serif;
}

#project{
    margin: auto;
    vertical-align: middle;
}

.post{
    display: flex;
    margin-left: 40px;
    margin-right: 100px;
    padding: 10px;
}

.ladies-pictures{
display: flex;
object-fit: scale-down;
width:200px;
height:300px;
padding-left: 40px;
padding-right: 60px;
box-sizing: border-box;
border-radius: 10px;
}


#picture-1{
    padding-left: 10px;
    padding-right: 10px;
    
}

#picture-2{
padding-left: 10px;
padding-right: 10px;
}

#picture-3{
    padding-left: 10px;
    padding-right: 10px;
}